<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Email Form</title>

  
</head><body>


<%= form_for :email, url: emails_path do |f| %>

<br>

  <br>
  <div style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="imgs/pp/Anulom%20small%20Logo.jpg" alt=""><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <big><big>Email Address</big></big>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

  <br>
  <br>
  <div style="text-align: center;">
  <table style="text-align: left; width: 1056px; height: 352px;" border="0" cellpadding="2" cellspacing="2">
    <tbody>
      <tr>
        <td style="vertical-align: top; width: 76px;"><br>
        </td>
        <td style="vertical-align: top; width: 685px;"><br>
        </td>
        <td style="vertical-align: top; width: 267px;"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 76px;"><br>
        </td>
        <td style="vertical-align: top; width: 685px;">
        <table style="text-align: left; width: 694px; height: 212px;" border="0" cellpadding="2" cellspacing="2">
          <tbody>
            <tr>
              <td style="width: 151px;"><br>
</td>
              <td style="width: 354px;"><br>
</td>
              <td style="width: 61px;"><br>
</td>
              <td style="width: 93px;"><br>
</td>
            </tr>
            <tr>
              <td style="width: 151px;"><big><big><br>
              </big></big></td>
              <td style="width: 354px; background-color: rgb(204, 204, 204);"><big><big>
              
              <%= f.label :emailid  %>
              &nbsp; - 
              
              <br>
              <br>
              </big></big>
              <div style="text-align: center;"><big><big>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <big style="font-weight: bold; font-family: Batang;">
              
              <%= f.text_field :emailid %>
              
              </big></big></big><br>
              </div>
</td>
              <td style="width: 61px;"><br>
</td>
              <td style="width: 93px;"><br>
</td>
            </tr>
            <tr>
              <td style="width: 151px;"><br>
</td>
              <td style="width: 354px;"><br>
</td>
              <td style="width: 61px;"><br>
</td>
              <td style="width: 93px;"><br>
</td>
            </tr>
          </tbody>
        </table>
        </td>
        <td style="vertical-align: top; width: 267px;"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; height: 118px;"><br>
        </td>
        <td style="vertical-align: top; height: 118px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>
        <br>
        <div style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<big><big>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="LandingPage.html">Submit</a>&nbsp;&nbsp;</big></big>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.submit %>
        </div>
</td>
        <td style="vertical-align: top; height: 118px;"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; height: 0px;"><br>
        </td>
        <td style="vertical-align: top; height: 0px;"><br>
        </td>
        <td style="vertical-align: top; height: 0px;"><br>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>






<% end %>





